/* Map Settings */
.leaflet-container {
    height:100vh;
    border-radius: 3rem;
}  
.TimeFrameForm-container {
    display:flex;
    justify-content: center;
    align-items: center ;
  gap: 3rem;

  }
  .TimeFrameForm {
    position: absolute;
   z-index: 10000;
  display: flex;
  color:black;
  justify-content: center;
  bottom:0;
  margin-bottom:5rem;
  appearance: none;
  /* border: 3px solid black; */
  gap:1rem;
  border-radius: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
  }
  
  
  
  .year-options{
    width: 5rem;
   border-radius: 2rem;
    text-align: center;
    font-size: 2rem;
    width: fit-content;
    transition: all.75s ease 
  }
  
  .year-options:hover {
  font-size: 2.5rem;
  transition: all .75s ease ;
  }