@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");


* {
  font-family: "Manrope";
 margin:0;
 padding: 0;

}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

